body {
  font-family: monospace;
}

.sine {
  background-color: #2BA3D6;
  top: 100px;
  left: 50px;
}
.square {
  background-color: #B32BD6;
  top: 150px;
  left: 50px;
}
.triangle {
  background-color: #07E349;
  top: 200px;
  left: 50px;
  /*box-shadow:         2px 2px 1px 1px #000;*/

}

.note {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 0;
  float: left;
  margin: 0;
  cursor: move;
  transition: all 0.2s;
}

.ui-widget-header p, .ui-widget-content p {
  margin: 0;
}

#sequencer-grid {
  background-color: grey;
  border-width: 0px;
  margin:0;
  padding: 0;
  width: 400px;
  height: 400px;
  left: 200px;
  top: 0px;
  position: absolute;
  z-index: -1;
}

#selection-wrap {
  background-color: orange;
  width: 200px;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
  /*margin-left: 10px;*/
}

#selection-wrap h3 {
  background-color: white;
  display: inline;
  padding-left: 10px;
}

#selection-zone {
  position: absolute;
  top: 100px;
  height: 150px;
  width: 50px;
  left: 50px;
  background-color: black;
}

.ui-draggable-dragging {
  /*background-color: white;*/
  /*-moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;*/
  /*box-shadow:         2px 2px 1px 1px #000;*/
  position: relative;
 -ms-transform: rotate(-2deg); /* IE 9 */
 -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
 transform: rotate(-2deg);
 box-shadow: 0px 2px 3px 0px rgba(100,100,100,1.0);
 z-index: 1000;
 cursor: grabbing;

}
