body {
  font-family: monospace;
}

.sine {
  /*background-color: #2BA3D6;*/
  top: 50px;
  left: -150px;
}
.square {
  /*background-color: #B32BD6;*/
  top: 150px;
  left: -150px;
}
.triangle {
  /*background-color: #07E349;*/
  top: 250px;
  left: -150px;
}

.note {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 0;
  float: left;
  margin: 0;
  cursor: move;
  transition: box-shadow transform 0.2s;
}

.note-resting {
  width: 100px;
  height: 100px;
  transition: width height 0.2s;
}

.note-resting img {
  width: 100px;
  height: 100px;
  transition: width height 0.2s;
}

.ui-widget-header p, .ui-widget-content p {
  margin: 0;
}

#sequencer-grid {
  background-color: #eee;
  border-width: 0px;
  margin:0;
  padding: 0;
  width: 400px;
  height: 400px;
  left: 200px;
  top: 0px;
  position: absolute;
  z-index: 0;
}

#selection-wrap {
  background-color: #fff;
  width: 200px;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  /*margin-left: 10px;*/
}

#selection-wrap h3 {
  background-color: white;
  display: inline;
  padding-left: 10px;
}

#sine-selection-zone {
  position: absolute;
  top: 50px;
  height: 100px;
  width: 100px;
  left: 50px;
}
#square-selection-zone {
  position: absolute;
  top: 150px;
  height: 100px;
  width: 100px;
  left: 50px;
}
#triangle-selection-zone {
  position: absolute;
  top: 250px;
  height: 100px;
  width: 100px;
  left: 50px;
}

.ui-draggable-dragging {
    position: relative;
   -ms-transform: rotate(-2deg); /* IE 9 */
   -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
   transform: rotate(-2deg);
   box-shadow: 0px 2px 3px 0px rgba(100,100,100,1.0);
   z-index: 1000;
   cursor: grabbing;


}
#time_bar {
    position: absolute;
    left: 200px;
    top: 400px;
    height: 50px;
    width: 400px;
    background-color: grey;
}

#time_square {
    position: absolute;
    left: 150px;
    top: 400px;
    height: 50px;
    width: 50px;
    background-color: #07E349;
}

#time_bar_vertical {
    position: absolute;
    left: 150px;
    top: 0px;
    height: 400px;
    width: 50px;
    background-color: #2BA3D6;
    opacity: 0.15;
}

.grid_text {
    position: absolute;
        left: 550px;
        top: 150px;
        transform: rotate(90deg);
        font-size: 28px;

}

#main {
  position:relative;
  /*margin: 0 auto;*/
  /*top: 50%;*/
  left: 50%;
  margin-left: -300px;
  /*margin-top: -200px;*/
  /*transform: (translate());*/
  display:block;
  margin-top:50px;
}

#title {
    /*position: absolute;*/
    top: 0px;
    left: 10px; 
    text-align: center;
    font-size: 36px;
}
